<!--The content below is only a placeholder and can be replaced.-->
<div class="tab-pane">

    <p>Welcome to {{ title }}!</p>
    <p>Utilisateurs  : {{Utilisateurs}}</p>
     <table class="table">
      <thead class="">
      <tr>
        <th>index ngFor</th>
        <th>Identifiant</th>
        <th>Nom</th>
        <th>Prenom</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let ele of Utilisateurs ; let i = index">
        <td>{{i}}</td>
        <td>{{ele.id}}</td>
        <td>{{ele.firstName}}</td>
        <td>{{ele.lastName}}</td>
      </tr>
      </tbody>
  </table>



<router-outlet></router-outlet>
</div>
